<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneticTanks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneticTanks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    
  <!-- Log4net Logging Setup -->
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logfile.txt" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} %level %logger{1} - %message%newline" />
      </layout>      
    </appender>
    
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger{1} - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>

    <logger name="GeneticTanks.Game.EventManager">
      <level value="INFO" />
    </logger>

    <logger name="GeneticTanks.Game.Components.MessageComponent">
      <level value="INFO" />
    </logger>
  </log4net>
  <applicationSettings>
    <GeneticTanks.Properties.Settings>
      <setting name="ArenaWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ArenaHeight" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="TankMinHealth" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TankMaxHealth" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="TankBaseLength" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="TankBaseWidth" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="TankMinSpeed" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TankMaxSpeed" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TankMinTurnSpeed" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TankMaxTurnSpeed" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="TankMinTurretSpeed" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="TankMaxTurretSpeed" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="TankMinTurretRangeOfMotion" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="TankMaxTurretRangeOfMotion" serializeAs="String">
        <value>360</value>
      </setting>
      <setting name="TankMinSensorRange" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TankMaxSensorRange" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="TankMinGunRange" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="TankMaxGunRange" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="TankMinGunDamage" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TankMaxGunDamage" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TankMinGunSpeed" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="TankMaxGunSpeed" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="TankMinReloadSpeed" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TankMaxReloadSpeed" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TankMaxAttributeValue" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TankPointsPerAttribute" serializeAs="String">
        <value>5</value>
      </setting>
    </GeneticTanks.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <GeneticTanks.Properties.Settings>
      <setting name="PauseOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PopulationSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="NumClones" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ReplacementPercent" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="MutationRate" serializeAs="String">
        <value>0.25</value>
      </setting>
    </GeneticTanks.Properties.Settings>
  </userSettings>
</configuration>
